<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="container navbar-brand" style="margin-bottom: 26px;"><%= image_tag("logo2.png", :alt => "logo", :class => "img-responsive logo") %>
				</a>
			</div>
		</div>
	</nav>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>
</html>